body
{
	margin:0px;
	padding: 0px;

}

#top_color
{
	background-color: rgba(203, 202, 203, 0.24);

}
#table_scroll
{
    margin-top: 91px;
}
#font_bgg
{
    background-color: rgb(242, 241, 242);
}



#koan_logo
{
    float: left;
	width: auto;	
	clear: left; 
	/*margin-left: 70px;*/

}

#koan_logo1
{
    float: left;
  width: auto;  
  clear: left; 
  /*margin-left: 70px;*/

}
.max
{
    
    max-width: 117px;
}

.pleft
{
    margin-right: 23px;
}

#a2
{
    float: left;
    width: 25%;
    color: purple;
     margin-top: 13px;
    font-family: 'Lato', sans-serif;
  

  /* 	font-size: 16px;*/

   /* font-size: 1.5vw;*/
    font-size: 1.5vmax;
    /*font-size: 3vmin;*/

}

.bor_bottom
{
  border-style: solid;
  border-top: thin purple;
  color: purple;

}

#drp
{
    float: left;

}   



.lg
{
    margin-top: 23px;
}
#but
{
    /*float: left;
    margin-right: 8px;*/

    margin-left: -33px;

}
#flt
{
   /* margin-left: 87%;
*/
    margin-top: 4px;
}
#lg
{
    border-style: solid;
    border-color: purple;
    color: purple;
}

.isize
{
  font-size: 17px;
}

#index_user
{
  margin-top: 200px;

}
#table_brd
{
  border-style: groove;
  border-color: rgba(128, 0, 128, 0.58);
}

#report_down
{
  margin-top: 136px;
}
.colr
{
  background-color: purple;
  color: white;
}

.text_colr
{
  color: purple;
}