body
{
	margin: 0px;
	padding:0px;
}
#wrapping
{
	background-color: white;
	width: 100%;
	height: 100%;
	/*padding-bottom: 480px;*/
	background-repeat: repeat;

}
#top_color
{
	background-color: rgba(74, 28, 98, 0.88);
	height: 72px;
	margin-left: 0px;
    margin-right: 0px;
    color: white;
    font-size: 20px;
}
#table_bg
{
	background-color: rgba(74, 28, 98, 0.88);
	width: 344px;
	height: 293px;
	margin-top: 87px;
	margin-bottom: 73px;
	padding-top: 21px;

}




.a1
{
	font-family: 'Lato', sans-serif;
	color: white;
	padding-top: 18px;
	padding-bottom: 14px;
	font-size: 18px;
}

.a2
{    
	font-family: 'Lato', sans-serif;
	color: white;
	padding-bottom: 5px;
}

.a3
{
	font-family: 'Lato', sans-serif;
	margin: 11px;
	margin-left: 0px;
	background-color: white;
	color: rgba(74, 28, 98, 1);
	border-color: rgba(74, 28, 98, 1);
}

.a4
{
   color: white;
	font-family: 'Lato', sans-serif;
    font-size: 12px;

}
a:hover
{
	color: red;
}

#a2
{
	font-size: 18px;
	padding-top: 22px;
	height: auto;
	

}