body
{
	margin: 0px;	
	padding: 0px;

/*	line-height: 0px;	*/
}
#top_color
{
	background-color: rgba(203, 202, 203, 0.24);
	
}


#koan_logo
{
    float: left;
	width: 25%;	
	clear: left; 
	margin-left: 70px;
}

#a2
{
    float: left;
    width: 25%;
    color: purple;
    padding-top: 22px;
    font-family: 'Lato', sans-serif;
    margin-left: 80px;

  /* 	font-size: 16px;*/

   /* font-size: 1.5vw;*/
    font-size: 1.5vmax;
    /*font-size: 3vmin;*/

}

.bor_bottom
{
  border-style: solid;
  border-top: thin purple;
  color: purple;

}

#table_bg
{
	background-color: rgba(242, 241, 242, 1);
    border-style: groove;
    border-color: rgba(142, 6, 142, 0.71);

    width: 344px;
	height: 311px;
	margin-top: 87px;
	margin-bottom: 73px;
	padding-top: 22px;

}

#username
{
	border-style: groove;
    border-color: rgba(255, 255, 255, 1);

}

.a2
{
	padding-top: 22px;
	color: purple;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 16px;	
}

.a3
{
	margin-top: 10px;	
}
.a4
{
	color: black;
	padding-left: 3px;
	font-family: 'Lato', sans-serif;
}
.a5
{
	background-color: rgba(113, 8, 113, 1);
	color: white;
}

