/* CSS Document */

body { font:16px Calibri;}
    table { border-collapse:separate; border-top: 3px solid grey;
    cellspacing="0" }
    td {
        margin: 0;
border: 1px solid grey;

width: 6em;
white-space: nowrap;
height:30px;

text-align: center;
    }
th{
    height:30px;
}
    .hey {
        width: 780px;

overflow-x: scroll;
margin-left: 14em;
overflow-y: visible;
padding-bottom: 1px;
margin-top: 30px;

    }
    .headcol {
       position: absolute;
width: 7.2em;
left: 0;
top: auto;
border-right: 0px none black;
margin-left: 121px;
text-align:center;
    }
    .headcol:before {content: ;}
   // .long { background:yellow; 
           // width:10px; }