body
{
	margin: 0px;	
	padding: 0px;

/*	line-height: 0px;	*/
}
#top_color
{
	background-color: rgba(203, 202, 203, 0.24);
	
}


#koan_logo
{
    float: left;
	width: 25%;	
	clear: left; 
	margin-left: 70px;
}
.bor_bottom
{
  border-style: solid;
  border-top: thin purple;
  color: purple;

}
#a2
{
    float: left;
    width: 25%;
    color: purple;
    padding-top: 22px;
    font-family: 'Lato', sans-serif;
    margin-left: 80px;

  /* 	font-size: 16px;*/

   /* font-size: 1.5vw;*/
    font-size: 1.5vmax;
    /*font-size: 3vmin;*/

}
#side_div
{
	width:20%;
	height : 100%;
	margin-left: 450px;
	background-color : thin purple;


}
