#top_color
{
	background-color: rgba(74, 28, 98, 0.88);
	height: 72px;
	margin-left: 0px;
    margin-right: 0px;
    color: white;
    font-size: 20px;
}

.a1
{
   margin-left: 361px;
}
#a2
{
	font-size: 18px;	
	padding-top: 22px;
	height: auto;
}