#middleform{
	background-color: rgba(203, 202, 203, 0.24);
height: 250px;
width: 300px;
margin-left:30px;
margin-top: 100px;

border-style: groove;
border-color : rgba(128, 0, 128, 0.91);
}

#text{
	margin-top : 30px;
	color: purple;
	margin-left : 90px;
    font-family: 'Lato', sans-serif;
}

#edit1{
	margin-left : 35px;
}
#left{
	float: left;
	margin-left:35px;
}
#right{
	float : right;
	margin-right:35px;
}